:root {
    --input-padding: 10px;
    --input-margin: 15px 0;
    --form-width: 90%;
    --form-max-width: 400px;
    --main-green: #4CE5B1; 
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--main-green);
    color: black;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background-color: var(--main-green);
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: var(--form-width);
    max-width: var(--form-max-width);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid var(--main-green);
}

.form-container h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: black;
    font-weight: bold;
}

.form-container label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    width: 100%;
    color: black;
}

.form-container input {
    width: 100%;
    padding: var(--input-padding);
    margin-bottom: var(--input-margin);
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    color: black;
}

/* Placeholder Styling */
.form-container input::placeholder {
    color: var(--main-green);
}

/* Button Styling */
.form-container button {
    width: 100%;
    padding: var(--input-padding);
    background-color: black;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    color: var(--main-green);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-container button:hover {
    background-color: #222;
}

/* Responsive Design */
@media (max-width: 600px) {
    .form-container {
        padding: 15px;
    }

    .form-container h1 {
        font-size: 20px;
    }

    .form-container input, .form-container button {
        font-size: 14px;
    }
}